{% extends 'base.html.twig' %}

{% block title %}Ajoutée une pages!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="form">
    <form action="{{ path('app_add') }}" method="POST" enctype="multipart/form-data">
    <div>
      <input type="radio" id="link" name="type" value="link" hecked>
      <label for="link">lien</label>
    </div>

    </div>
      <input type="radio" id="file" name="type" value="file">
      <label for="file">fichier</label>
    </div>

    <div>
        <label for="lien">Lien</label>
        <input type="text" id="lien" name="ressource[]" placeholder="https://www.google.fr" >
    </div>
    <div>
        <label for="files">fichier: </label>
        <input type="file" id="files" name="ressource[]" accept="image/*">
    </div>
    {% if is_granted('ROLE_VIP') %}
    <div>
        <label for="pass">Mots de passe</label>
        <input type="text" id="pass" name="pass" placeholder="ne pas remplir si pas de mots de passes" >
    </div>
    {% endif %}
    <div>
        <input type="submit" value="crée" >
    </div>
    </form>
</div>
{% endblock %}
