{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui container center aligned">
    <h1>Page not found</h1>
    <p>La page n'existe pas merci verifié votre lien</p>
    <a class="ui button" href="{{ path('app_accueil')}}">Retour à l'accueil</a>
    </div>
{% endblock %}